@media (max-width :992px) { /*هذا الحكي بتطبق فقط لما يكون العرض 992 او اقل*/
    /* بمسكوا هون زي ما مسكتوا بملف السي اس اس العادي عشان يقدر يعمل اوفررايدنج*/
   ul{
    flex-direction: column;
    position: absolute;/* عشان لما عملتهن كولوم طلعن بره الناف ف بتحكم بيهن عن طريق البوزشن*/
    top: 81px;/* عشان انزلها المسافه المطلوبه*/
    left: 0;
    background-color: #ffffff84;/* هيك بينت فوق النص عادي انا براسي تصميم معين*/
    width: 100%;/*عشان توخذ العرض كله وتتزحزح*/
    justify-content: center;/*استخدمتهن لانه انا معطي فلكس بالملف الثاني*/
    align-items: center;
    padding: 20px 0;/*top , buttom  يعني انا حبيت اوسع عليها*/
    backdrop-filter: blur(10px);/* هيك ببين انه اللي وراها مغبش بس لازم لون الباك جراوند يكون شفاف*/
   display: none;/* فكرخ خبيثه انه لما اكبس يظهر القائمه ف لازم تكون بالاصل مخفيه*/
   }
   nav{
   /* position: relative; */
    position: fixed;
   }
    
   #menu-check:checked ~ ul{/*الاخ الشقيق*/
    display: flex;/* عشان لما اكبس يظهر القائمه*/
   }
  label .open{
    display: inherit;
  }
  
   #menu-check:checked ~ label .open{
    display: none;
   }
   #menu-check:checked ~ label .close{
    display:inherit;/*inhirit :نفس المبدأ*/
   }
   /*//////////////////////////////////////////////////////////////////////////////////*/
   header .flex{/* انا شغال بالهيدر عشان هيك مسكت الفليكس تاع الهيدر بس*/
    flex-direction: column-reverse;
   margin-top: 400px;
   
   }
   .header-content{
    width: 100%;
   }
   .services .card{
    max-width: 100%;
   }
  

} 
